{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'webfonts/css/all.css' %}">
    <link rel="stylesheet" href="/static/css/all.css'">
    <script src="{% static 'scripts/app.js' %}" defer></script>

    <script src="https://kit.fontawesome.com/ffd2122510.js" crossorigin="anonymous"></script>

    <!-- CDN SCRIPTS CSS go here -->
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="nav-container">
        <div Cclass="logo-class">
        <a href="/cars"><h1 class = "logo">CARzing</h1></a>
        <img  class='logo-img' src="/static/images/gold.jpg "/>
    </div>
        <div class="sidebar">
        <a  class="active" href="/cars">Car List</a>
        {% if user.is_authenticated %}
        <a href="{% url 'car_create' %}">Add Car</a>
        <a href="/features">Features</a>
        <a href="{% url 'car_features_create' %}">Add Featers</a>
        <a href="/admin">Admin
            <!-- <i class="fa-thin fa-ellipsis-stroke-vertical">folder-gear</i> -->
        </a>
        <a href="{% url 'logout' %}">Logout</a> 
        <a href="{% url 'profile' user.username %}">{{ user.username }}!</a>
         </div>
    <div class="left-side">
        {% else %}
       <a href="{% url 'login' %}">Login</a>
        <!-- <a href="{% url 'signup' %}">SignUp</a>  -->
        {% endif %}
    </nav>
    </div>

    
    {% block content %}

    {% endblock %}
    </body>
    </html>
