{% extends 'base.html' %}

{%load static%}

{% block title%}
 Cars' List
{%endblock%}

{% block content %}


    {% for car in cars%}
    <!-- <img src="{{car.image}}" alt="{{car.name}}"/> -->
<div class="wrapper">
<div class="cards_wrap">
    <div class="card_item">
     <div class="card_inner">
    <div class="card_top">
<div class="card_bottom">
    <div class="card_category">
</div>
<div class="card_info">
    <a href="{% url 'car_detail' car.pk %}" >
        <img src="{{car.image}}" alt="{{car.name}}"/>
        <h4>{{car.name}}</h4>
        </a>
<p class="title">About</p>
<p>Lorem ipsum dolor sit amet c</p>
Posted by: 
<a href ="/user/{{car_post.user.username}}">{{car.user.username}}</a>
</div>
</div>
</div>
</div>
</div>

    {%endfor%}
{%endblock%}