
{% extends 'base.html' %}
{% block content %}
<h1 class="car-feature-h1">Cartype Details</h1>
<div class="car-features-details">
    <div class="feature-details">
        <h3>{{car_feature.name}}</h3>
        <h3>{{car_feature.roof_type}}</h3>
        <h3>{{car_feature.extras}}</h3>
       <h3>{{car_feature.transmtion_type}}</h3>
    </div>
    <div>
        <a href="{% url 'car_features_update' car_feature.id %}">Edit</a> 
        <a href="{% url 'car_features_delete' car_feature.id %}">Delete</a> 
    </div>
</div>
{% endblock %}