{% extends 'base.html' %} 
{%load static%}
{% block content %}
<div class="main-delete">
<h1>Are you sure you want to Delete {{car_post.name}}?</h1>
<form  class='main-delete-form'method="post">
  {% csrf_token %}
   <!-- confirm cat delete -->
    <!-- Redirect back to detail on cancel -->
    <button class="delete-btn" type="submit" value="Confirm" >Confirm</button>
</form>
<div class="container-delete-btn">
<a class="confirm-msg" href="{% url 'car_detail' car_post.pk %}">Cancel</a>
</div>
</div>


{% endblock %}