{% extends 'base.html' %}

{%load static%}

{% block content %}

    {% for car in cars%}
    <!-- <img src="{{car.image}}" alt="{{car.name}}"/> -->
 
<div class="cards">
    <div class="card">
        <a href="{% url 'car_detail' car.pk %}" >
        <img id='card_img' src="{{car.image}}" alt="{{car.name}}"/>
        <div class="card_content">
            <h2 id="car_name">{{car.name}}</h2>
             </a>
             <p class="car_name_p">Location:{{car.location}} </p>
            <p>Price:{{car.price}}$</p>
        </div>
       <div class="card-info">
        Posted by: 
        <div> 
           <a  class = "card_author" href ="/user/{{car_post.user.username}}">{{car.user.username}}</a>
        </div>
    </div> 
   </div>





    {%endfor%}
{%endblock%}