{% extends 'base.html' %}
{% load static  %}

{% block content %}

{% if user.is_authenticated %}

{% else  %}
<div id="login" class="boxSizeLogin">
  <div class="bodyStyleLogin">
    <div class="wrapperLogin" id="containerLogin">
      <div class="form-containerLogin sign-up-containerLogin">
        <div class="loginForm">
        <div class="loginFormText">
          <div class="accoutLogin createPos ">Create an account</div>
          <div class="textCreatePos">Create your account and start the adventure<br/>
          </div>
          <a href="{% url 'signup' %}">SignUp</a>
            <button  class="btnLogin buttonPosLogin" > Sing up </button>
          </a>
        </div>
      </div>
    </div>
<div class="form-containerLogin sign-in-containerLogin">
<form class="loginForm" method="POST" action=".">
  {% csrf_token %}
 <div style="opacity:0.7;" class="titleTagLogin ">Welcome</div>
 <input class="inpLogin" type="text" placeholder="Your username" name="username"/>
 <input class="inpLogin" type="password" placeholder="Password" name="password" />
 <div class="buttonPosLogin">
  <button  class="btnLogin" type="submit"  name='submit' value='sign_in'>Sign In </button>
  </div>
</form>
</div>
<div class="overlay-containerLogin">
  <div class="overlayLogin">
    <div class="overlay-panelLogin overlay-leftLogin">
      <div class="accoutLogin alreadyLogin">Already a customer?</div>
      <p>Log in with your data </p>
      <div class="buttonPosLogin">
        <button onclick="remove()" class="ghost btnLogin" id="signIn"> Sign In</button>
       </div>
      </div> 
      <div class="overlay-panelLogin overlay-rightLogin">
        <div class="titleTagLogin">Hi!</div>
        <p class="pLogin">Create your account and start the experience!<3 </p>
        <div class="buttonPosLogin">
          
           <button onclick="myFunction()" class="ghost btnLogin" id="signUp">Sing up</button>
        </div> 
 </div>
</div>
</div>
</div>
</div>
</div>
{% endif  %}

<script>
  function myFunction() {
    let element = document.getElementById("containerLogin");
    element.classList.add("right-panel-activeLogin");
  }
  function remove() {
    let element = document.getElementById("containerLogin");
    element.classList.remove("right-panel-activeLogin");
  }
</script>
{% endblock %}