{% extends 'base.html' %}

{% block content %}

  <div class="signup__container">
    <div class="container__child signup__thumbnail">
      <div class="signup__overlay"></div>
    </div>
    <div class="container__child signup__form">
      <form action="" method="POST">
        {% csrf_token  %}
        <div class="form-group">
          <label for="username"></label>
  <form method="post">
    {{ form.as_p }}
    
    <button class ='btn--form' type="submit">Sign up</button>
  </form>
  </div>
{% endblock %}